################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library
/Temp
/obj/Debug
/Logs
/.vs/PBD-Fluid-in-Unity/v16/TestStore/0
